.mega-menu {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background: #f5f5f5;
  padding: 20px;
  flex-wrap: wrap;
}

/* LEFT SIDE */
.menu-left {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.menu-column h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.menu-column p {
  font-size: 14px;
  margin: 6px 0;
  cursor: pointer;
}

/* RIGHT SIDE */
.menu-right {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.offer-card {
  background: #eaeaea;
  padding: 20px;
  border-radius: 8px;
  width: 220px;
  position: relative;
  overflow: hidden;
}

.offer-card span {
  font-size: 12px;
  background: white;
  padding: 3px 6px;
}

.offer-card h3 {
  margin: 10px 0;
  font-size: 18px;
}

.offer-card img {
  width: 80px;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* SECOND CARD COLOR */
.offer-card.blue {
  background: #cfdbe6;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .mega-menu {
    flex-direction: column;
    align-items: center;
  }

  .menu-left {
    justify-content: center;
  }

  .menu-right {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .menu-column h4 {
    font-size: 14px;
  }

  .menu-column p {
    font-size: 12px;
  }

  .offer-card {
    width: 100%;
  }
}